# Dependencias
node_modules/
package-lock.json
yarn.lock

# Archivos de build
dist/
build/

# Vite
.vite/
vite-config.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.log

# Env
.env
.env.local
.env.*.local

# Misc
.cache/
.parcel-cache
.turbo
.turbopack
